@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap');
@font-face {
    font-family: "FrederickatheGreat-Regular";
    src: url("../fonts/FrederickatheGreat-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box a {
    text-decoration: none;
}

h2:hover {
    /* survol*/
    color: #08dd3d;
}

body {
    background-color: #3a358a;
}

.presentation {
    display: flex;
    padding: 20px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    background-color: #f8f3f3;
    text-align: center;
}

.imgpresentation {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    padding: 30px;
}

.textpresentation {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #ffffff;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;

}

.box {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    padding: 30px;
}

img {
    width: 100%;
    height: 60%;
}

h2 {
    text-align: center;
    flex-direction: column;
    color: #ffffff;
    padding: 20px;
    font-size: 2rem;
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
}


/* ------------------------------HEADER---------------------------- */
header {
    height: 384px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/colombe_eglise.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* div #bandeau contient #logo & h1 */
#bandeau {
    display: flex;
    /* border: 2px solid #000000; */
    height: 86px;
    background-size: cover;
    width: 100%;
    background-color: #f8f3f3;
}

#logo {
    justify-content: flex-start;
    width: auto;
    height: 86px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "FrederickatheGreat-Regular", Arial;
    font-weight: lighter;
    height: 5.5rem;
    width: auto;
    color: #690426;
    /* font-size: 25px; */
    font-size: 1.5rem;
    padding-left: 1rem; 
    flex-wrap: wrap;
}
/* fin du bandeau */
/* la nav #navigation contient les boutons .atelier, .realisations, .contact  */
#navigation {
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: 7vh 7vh 7vh;
    grid-template-areas:
        "Atelier"
        "Réalisations"
        "Contact";
    grid-gap: 29px;
    gap: 50px;
}

.atelier,
.realisations,
.contact {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 3.5vh;
    border: 2px solid #000000;
}

.atelier:hover,
.realisations:hover,
.contact:hover {
    background-color: #a36161;
}

.atelier {
    grid-area: Atelier;
}

.realisations {
    grid-area: Réalisations;
}

.contact {
    grid-area: Contact;
}

.nav_boutons {
    text-decoration: none;
    color: #000000;
}
/* fin de nav */
/* début du footer */
#footer {
    display: grid;
    grid-template-columns: 34vw 64vw;
    justify-content: center;
    grid-template-rows: 7vh 7vh 7vh;
    grid-template-areas:
        "Adresse Droits"
        "Adresse Mentions"
        "Adresse Copyright";
    background-color: #3a358a;
}

#mention {
    color: #ffffff;
}

.adresse,
.droits,
.mentions,
.copyright {
    font-size: 0.4rem;
    color: #ffffff;
}

.droits,
.mentions,
.copyright {
    line-height: 7vh;
}

.adresse {
    grid-area: Adresse;
    line-height: 3.58vh;
    margin-top: 10px;
}

.droits {
    grid-area: Droits;
}

.mentions {
    grid-area: Mentions;
}

.copyright {
    grid-area: Copyright;
}

/* pseudo classe pour une action au survol (hover) */
.nav_boutons:hover {
    color: #000000;
}

@media screen and (min-width: 480px) {
    #bandeau {
        height: 156px;
    }

    #logo {
        width: auto;
        height: 156px;
    }

    h1 {
        height: 156px;
        line-height: 156px;
        width: 70.5vw;
        color: #690426;
        font-size: 50px;
        padding-left: none;
    }

    #navigation {
        display: grid;
        grid-template-columns: 25vw 25vw 25vw;
        grid-template-rows: 12vh;
        grid-template-areas:
            "Atelier Réalisations Contact";
        justify-content: space-around;
        grid-gap: 60px;
    }

    .atelier,
    .realisations,
    .contact {
        border-radius: 65px;
        font-size: 50px;
    }

    .adresse,
    .droits,
    .mentions,
    .copyright {
        font-size: 20px;
    }

    .presentation {
        padding: 100px;
        font-size: 3rem;
    }

    .imgpresentation {
        width: 100%;
        height: 60%;
        font-size: 2rem;
        align-items: center;
        flex-direction: row;
    }

    .textpresentation {
        display: flex;
    }

    .box {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 60%;
        padding: 30px;
    }

    .box2 {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 60%;

        padding: 30px;
    }

}